/* Reset CSS */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


/* Global typography and background */

body {
  font-family: "Inter",sans-serif;
  color: #222;
  background: #FAFAFA;
}