/* Header Container */

header {
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0 1px 20px rgba(0,0,0,0.03);
}

.header-top {
    max-width: 1300px;
    margin: 0 auto;
    padding: 22px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
